<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>

    <img src="https://avatars1.githubusercontent.com/u/18508817" />

    <ion-card-content>
      <ion-card-title>
        mowatermelon
      </ion-card-title>
      <p>
        https://github.com/mowatermelon/learn-Ionic
      </p>
    </ion-card-content>

    <ion-item>
      <ion-icon name='logo-github' item-start color="dark"></ion-icon>
      前往
      <ion-badge item-end>999+</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name='heart' item-start color="danger"></ion-icon>
      关注
      <ion-badge item-end>999+</ion-badge>
    </ion-item>

  </ion-card>

</ion-content>