<ion-header>
  <ion-navbar>
    <ion-title>
      Media
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h2 padding>Welcome to Ionic Media!</h2>
  <ion-list>
      <ion-list-header><h1>silde</h1></ion-list-header>
      <ion-list>
          <ion-list-header>默认是不显示的分页小圆点</ion-list-header>
          <ion-item>
              <!--                                                                                    silde-group-->
              <!-- 默认是不显示的分页小圆点 -->
              <ion-slides>
                <ion-slide *ngFor="let slide of slides">
                  <ion-toolbar>
                    <ion-buttons end>
                      <button ion-button color="primary">Skip</button>
                    </ion-buttons>
                  </ion-toolbar>
                  <img src="https://avatars1.githubusercontent.com/u/18508817" class="slide-image"/>
                  <h2 class="slide-title" [innerHTML]="slide.title"></h2>
                  <!-- <p [innerHTML]="slide.description"></p> -->
                </ion-slide>
              </ion-slides>
            </ion-item>

      </ion-list>

      <ion-list>
          <ion-list-header>设置了pager，文本下面会出现swiper-pagination-bullet</ion-list-header>
          <ion-item>
            <!--                                                                                    silde-group-->
            <!-- 设置了pager slide文本下面会出现swiper-pagination-bullet -->
            <ion-slides pager>
              <ion-slide *ngFor="let slide of slides">
                <ion-toolbar>
                  <ion-buttons end>
                    <button ion-button color="primary" (click)="selSkip()">Skip</button>
                  </ion-buttons>
                </ion-toolbar>
                <img src="https://avatars1.githubusercontent.com/u/18508817" class="slide-image"/>
                <h2 class="slide-title" [innerHTML]="slide.title"></h2>
                <!-- <p [innerHTML]="slide.description"></p> -->
              </ion-slide>
              <ion-slide>
                <ion-toolbar>
                </ion-toolbar>
                <img src="https://avatars1.githubusercontent.com/u/18508817" class="slide-image"/>
                <h2 class="slide-title">Ready to Play?</h2>
                <button ion-button large clear icon-end color="primary" (click)="selContinue()">
                  Continue
                  <ion-icon name="arrow-forward"></ion-icon>
                </button>
              </ion-slide>
            </ion-slides>
          </ion-item>
      </ion-list>
  </ion-list>

</ion-content>
