page-media {
    .toolbar-background {
      background: #fff;
      border-color: transparent;
    }

    .slide-zoom {
      height: 100%;
    }

    .slide-title {
      margin-top: 0.5rem;
    }

    .slide-image {
      max-height: 50%;
      max-width: 60%;
      margin: 18px 0;
    }

    b {
      font-weight: 500;
    }

    p {
      padding: 0 40px;
      font-size: 14px;
      line-height: 1.5;
      color: #60646B;

      b {
        color: #000000;
      }
    }

    ion-card.adv-map p {
      font-size: 0.7em !important;
    }

    button[fab].fab-map {
      top: calc(100% - 20px);
      z-index: 50;
    }

    .item-bold {
      font-weight: bold;
    }

    .social-cards ion-col {
      padding: 0;
    }

    ion-card .advanced-weather-tabs tabbar {
      height: 100px;
    }

    ion-card .advanced-weather-tabs tabbar a span.tab-button-text {
      text-transform: uppercase;
    }

    .cards-bg tab-highlight {
      background-color: #fff !important;
      top: 0;
    }

    ion-card.cards-list-demo ion-card-header {
      color: map-get($colors, primary);
    }

    ion-card.showTitle {
      position: relative;
      text-align: center;
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        text-shadow:2px 3px 3px #ff6a6a;
      }

      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
        text-shadow:2px 3px 3px #ff6a6a;
      }
    }


}
