<ion-header>
  <ion-navbar>
    <ion-title>
      Media
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h2 padding>Welcome to Ionic Media!</h2>

  <!--                                                                                    badges-group-->
  <ion-list>
    <ion-list-header><h1>badges</h1></ion-list-header>
    <ion-item>
      只有badge的效果(item-start)
      <ion-badge item-start>954</ion-badge>
    </ion-item>

    <ion-item>
      只有badge的效果(item-end)
      <ion-badge item-end>954</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon name="wine" color="primary"></ion-icon>
      icon(默认)+badge(默认)
      <ion-badge>260k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon name="ionitron" color="primary"></ion-icon>
      icon(item-start)+badge(item-start)
      <ion-badge item-start>260k</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name='heart' style="color: #d03e84"></ion-icon>
      icon(item-start)+badge(item-end)
      <ion-badge item-end>954</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name="cafe" item-end color="bright"></ion-icon>
      icon(item-end)+badge(item-start)
      <ion-badge item-start>260k</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name='map' item-end color="secondary"></ion-icon>
      icon(item-end)+badge(item-end)
      <ion-badge item-end>954</ion-badge>
    </ion-item>

  </ion-list>
  <!--                                                                                    silde-group-->
  <ion-list>
      <ion-list-header><h1>silde</h1></ion-list-header>
      <ion-list>
        <ion-list-header>默认是不显示的分页小圆点</ion-list-header>
        <ion-item>
          <ion-slides>
            <ion-slide *ngFor="let slide of slides">
              <ion-toolbar>
                <ion-buttons end>
                  <button ion-button color="primary">Skip</button>
                </ion-buttons>
              </ion-toolbar>
              <img src="https://avatars1.githubusercontent.com/u/18508817" class="slide-image"/>
              <h2 class="slide-title" [innerHTML]="slide.title"></h2>
              <!-- <p [innerHTML]="slide.description"></p> -->
            </ion-slide>
          </ion-slides>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-list-header>设置了pager，文本下面会出现swiper-pagination-bullet</ion-list-header>
        <ion-item>
          <ion-slides pager>
            <ion-slide *ngFor="let slide of slides">
              <ion-toolbar>
                <ion-buttons end>
                  <button ion-button color="primary" (click)="selSkip()">Skip</button>
                </ion-buttons>
              </ion-toolbar>
              <img src="https://avatars1.githubusercontent.com/u/18508817" class="slide-image"/>
              <h2 class="slide-title" [innerHTML]="slide.title"></h2>
              <!-- <p [innerHTML]="slide.description"></p> -->
            </ion-slide>
            <ion-slide>
              <ion-toolbar>
              </ion-toolbar>
              <img src="https://avatars1.githubusercontent.com/u/18508817" class="slide-image"/>
              <h2 class="slide-title">Ready to Play?</h2>
              <button ion-button large clear icon-end color="primary" (click)="selContinue()">
                Continue
                <ion-icon name="arrow-forward"></ion-icon>
              </button>
            </ion-slide>
          </ion-slides>
        </ion-item>
      </ion-list>
  </ion-list>
</ion-content>
